html,
body {
	height: 100%;
	width: 100%;
	background-color: #fff;
}

body {
	background-image: url(/../../images/brandi-alexandra-_SFzNHc8ftg-unsplash.jpg);
}

h1 {
	margin: auto;
	width: 50%;
	text-align: center;
}

h6 {
	margin: auto;
	/* width: 50%; */  
	text-align: center;
	margin-bottom: 2%;
}

.addNotes {
	margin-bottom: 60px;
	width: 100%;
}


.row{
	margin-left: 20%;
}
